<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=640, maximum-scale=1, user-scalable=no">
		
		<title>Kill my opponents</title>
		
		<meta name="title" content="Kill my opponents | Twitter App"/>
		<meta name="author" content="Pierre Charles" />
		<meta name="description" content="Kill my opponents | Twitter App" />
		<meta name="keywords"  content="kill, my, opponents, twitter, app" />
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="socket.io/socket.io.js"></script>
		
		<style>
			header{
				width: 100%;
			    height: 50px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    background-color: #222;
			}
			header p{
				margin: 15px;
				color:#F2F2F2;
			}
			header a{
				color:#F2F2F2;
			}
			header p#header_title{
				float: left;
			}
			header p#header_score{
				float: right;
			}
			
			.container{
				margin: 60px auto;
			}
			
			.container .tweets{
				height: 80%;
				overflow: scroll;
				text-align: center;
			}
			
			.container .tweets canvas{
				margin: 10px 2%;
			}
		</style>
		
	</head>

	<body>
		<header>
			 <p id="header_title">Kill my opponents for <a href="http://soixantecircuits.fr/" target="_blank">Soixante Circuits</a></p>
		     <p id="header_score">Your score : <span id="score"></span></p>
		</header>
		
		<div class="container">
			<div class="tweets"></div>
		</div>

		</div>
		
		<script type="text/javascript">
		
			$(document).ready(function() {
				
				//Function to wrap text, to back to the line
				function wrapText(context, text, x, y, maxWidth, lineHeight) {
			    	var words = text.split(' ');
			        var line = '';
			
			        for(var n = 0; n < words.length; n++) {
			          var testLine = line + words[n] + ' ';
			          var metrics = context.measureText(testLine);
			          var testWidth = metrics.width;
			          if (testWidth > maxWidth && n > 0) {
			            context.fillText(line, x, y);
			            line = words[n] + ' ';
			            y += lineHeight;
			          }
			          else {
			            line = testLine;
			          }
			        }
			        context.fillText(line, x, y);
			    }
			
				var $container = $('div.tweets'),
					socket = io.connect('http://localhost:8080');
					
		 
			    socket.on('twitter', function(data) {
			    	console.debug(data);
			    	$('.tweets').prepend('<canvas class="event" id="' + data.user.screen_name + '" style="background-color:#F7F7F7; border-bottom:1px solid #222222;" width="180" height="180px"></canvas>');
			    	
			    	var canvas = document.getElementById( data.user.screen_name );
			    	var ctx = canvas.getContext("2d");
			    	
			    	//INIT TEXT CANVAS USER NAME
			    	ctx.font = "20px Calibri";
			    	ctx.fillStyle = "000000";
			    	ctx.textAlign = "center";
					ctx.fillText( data.user.screen_name , canvas.width/2, canvas.height - 50); 
					
					//INIT TEXT CANVAS USER TEXT TWEET
					var maxWidth = canvas.width;
					var lineHeight = 10;
					var x = (canvas.width) / 2;
					var y = canvas.height - 35;
					var text = data.text;

					ctx.font = "10px Calibri";
					ctx.fillStyle = "000000";
					ctx.textAlign = "center";
					 
					wrapText(ctx, text, x, y, maxWidth, lineHeight);
					
					//INIT IMAGE CANVAS
					var imageObj = new Image();
				    imageObj.onload = function()
					{
					    ctx.save();
					    
					    var centerX = canvas.width / 2;
					    var radius = 50;
					    var centerY = radius + 10;
						
						ctx.beginPath();
					    ctx.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
					    ctx.fillStyle = '#000000';
					    ctx.fill();
					    ctx.lineWidth = 5;
					    ctx.strokeStyle = '#000000';
					    ctx.stroke();
					    ctx.clip();
					    
					    ctx.drawImage(imageObj, 0, 0, imageObj.width * 3, imageObj.height * 3);
					};
					
				    imageObj.src = data.user.profile_image_url;
			    });
			});

		</script>
		
	</body>
</html>

