<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=640, maximum-scale=1, user-scalable=no">
		
		<title>Kill my opponents</title>
		
		<meta name="title" content="Kill my opponents | Twitter App"/>
		<meta name="author" content="Pierre Charles" />
		<meta name="description" content="Kill my opponents | Twitter App" />
		<meta name="keywords"  content="kill, my, opponents, twitter, app" />
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="view/css/style.css">
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="socket.io/socket.io.js"></script>
		
		
		
	</head>

	<body>
		<header>
			 <p id="header_title">Kill my opponents for <a href="http://soixantecircuits.fr/" target="_blank">Soixante Circuits</a></p>
		     <p id="header_score">Your score : <span id="score"></span></p>
		</header>
		
		<div class="container">
			<div class="tweets"></div>
		</div>

		</div>
		
		<script type="text/javascript" src="view/js/script.js"></script>
		
	</body>
</html>

